/*darkblue: #0050A0 */
/*newlightblue: #12A8E0; */

.App {
  text-align: center;
  /*font-family: 'Playfair Display', serif;
  font-family: 'Roboto Condensed', sans-serif;*/
  background-color: white;
}

p {
  text-align: left;
  font-size: 25px;
  padding: 10px;
}


.container {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10% 5% 50% 10%;
  grid-template-areas: 
      "t t t t t t t t t t t t"
      "h h h h h h h h h h h h"
      "b b b b n n n n n n n n"
      "c c c c c c c c c c c c"
      "f f f f f f f f f f f f";
}

.topHeader{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #27598C;
  grid-area: t;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  border-bottom: 1px #00357F solid
}



.sticky{
  position: fixed;
  top: 0;
  width: 100%
}

.callToday{
  grid-column: 1/4;
  font-size: 35px;
  color: white; 
  padding: 5%;
}

.sticky :hover{
  background-color: red;
}

.appointment{
  grid-column: 10/13;
  font-size: 35px;
  color: white; 
  background-color: #12A8E0;
  padding: 5%;
}

.header {
  background-color: white;
  grid-area: h;
  padding-top: 5%;
  padding-left: 1%;
  padding-right: 1%;
  /*border: red 1px solid;*/
  /*background-color: #F9F9FA;*/
}

.name {
  text-align: left;
  font-size: 75px;
  text-decoration: none;
  color: #12A8E0; 
}

.nameSub{
  text-align: left;
  font-size: 30px;
  text-decoration: none;
  color: #416F9D; 
}

ul {
  grid-area: n;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color: white;
}

li {
  float: right;
  border-bottom: 1px #00357F solid;
}

li a, .dropbtn {
  display: inline-block;
  color: #416F9D;
  font-size: 30px;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
}


li a:hover, .dropdown:hover .dropbtn {
  background-color: #12A8E0;
  color: white;
}


li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 30px;
  text-align: left;
}

.dropdown-content a:hover {
  color: #12A8E0;
  background-color: #f1f1f1;
  font-size: 30px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.movie{
  grid-area: d;
}

.spinePic{
  width: 100%;
  grid-area: p;
}

.searchBox{
  width: 50%;
  height: 50px;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 15px;
  padding:8px 15px;
  background: rgb(240,240,240);
  border: rgb(240,240,240) solid 0px;
}

.awardWrapper{
  grid-area: w;
  background-color: #F9F9FA;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 1%;
}

.awardContainer{
  margin: auto;
}

.awards{
  padding: 1%;
  width: 250px;
}

.awardAAOS{
  padding: 1%;
  width: 350px;
}

.awardsBest{
  padding: 1%;
  width: 100px;
}

.about{
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10% 5% 50%;
  grid-template-areas: 
      "w w w w w w w w w w w w"
      "p p p p p p p p p p p p"
      "m m m m d d d d d d d d"
      "r r r r r r r r r r r r"
      "c c c c c c c c c c c c";
  background-color: white;
  grid-area: c;
  padding: 0%;
}

.aboutContainer{
  grid-area: d;
  padding: 40px;
}

.aboutBackground {
  background-color: #F9F9FA;
  padding: 5%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.aboutContent{
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 20px;
  color: #4C719B;
}

.menuContainer{
  grid-area: m;
  padding: 40px;
}

.menu {
  background-color: #F9F9FA;
  padding: 5%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menuContent {
  text-align: left;
  color: #4C719B;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.menuTitle{
  font-size: 40px;
  color: #5296BC;
  font-weight: bold;
  border-bottom: rgb(240,240,240) solid 1px;
}

.testimonial{
  grid-area: r;
}

.testimonialContainer{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50% 50%;
  grid-template-areas: 
      "a a a a a a a a b b b b"
      "c c c c d d d d d d d d";
  color: white;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}

.testimonial1{
  grid-area: a;
  background: #119EDC;
  padding: 5%;

}

.testimonial2{
  grid-area: b;
  background: #E5002B;
  padding: 10%;
}

.testImg{
  width: 70%;
  filter: brightness(100000%);
}

.testimonial3{
  grid-area: c;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
   grid-template-areas: 
      "a a a a c f f d b b b b";
  background: #E5002B;
  padding: 5%;
}

.testimonial4{
  grid-area: d;
  background: #0050A0;
  padding: 5%;
}

.icon{
  grid-area: c;
  font-size: 100px;
}

.iconFlip{
  grid-area: d;
  font-size: 100px;
  transform: rotateY(180deg)
}

.resources{
  grid-area: c;
  background-color: #F8FAFA;
  padding: 5%;
  color: #315988;
  font-size: 35px;
}

.resourcesContainer{
  /*border:rgba(0,0,0,0.1) 1px solid;*/
}

.resourcesItem{
  border:rgba(0,0,0,0.1) 1px solid;
  border-radius: 2px;
  display: inline-block;
  height: 600px;
  margin: 3rem;
  /*position: relative;*/
  width: 500px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/*.resourcesItem:hover{
  background: rgba(0,0,0,0.1)
}*/

.imageContainer{
  background-color: rgba(0,0,0,0.1);
}

.button {
  background-color: #47A7DB;
  transition-duration: 0.2s;
  border-radius: 5px;
  height: 75px;
  padding: 3%;
  color: white;
  font-size: 30px;
}

.button:hover {
  background-color: #DFE1E1; /* Green */
  color: white;
}

.resourceContent{
  font-size: 30px;
  padding-top: 10%;
}

.resourceImage{
  max-width: 500px;
}

.educational{
  grid-area: c;
  background-color: white;
  padding: 5%;
}

.news{
  grid-area: c;
  background-color: white;
}

.contact{
  grid-area: c;
  background-color: white;
  padding: 5%;
}

.border{
  width: 100%;
  border-bottom: 2px solid #f0f0f5;
}

.contact p {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.reviewContainer{
  padding: 2%;
  padding-right: 10%;
  padding-left: 10%;
  /*border: 1px blue solid;*/
  grid-area: c;
  background-color: white;
}

.reviewList{
  display: grid;
  grid-gap: 20px;
  padding: 2%;
}

.reviewItem{
  font-size: 20px;
  padding: 2%;
  border: 1px #4682B4 solid;
}

.starPic{
  height: 50px;
  width: auto;

}

.dadPic{
  /* original pic is 2106 × 1400*/
  height: auto;
  width: 100%;
  /*border-bottom: 2px solid #f0f0f5;*/
}

.footer {
  background-color: #27598C;
  grid-area: f;
  padding: 5%;
}
